/* @import '~swiper/dist/css/swiper.min.css'; */

h4.clients__name {
  color: #787878;
  font-size: 12px;
  text-align: center;
  max-width: 184px;
  margin-bottom: 0;
}

.clients__item {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.clients__img-wrap {
    width: 170px;
    height: 102px;
    text-align: center;
    margin-bottom: 32px;
}

.swiper-scrollbar {
    width: 643px;
    height: 2px;
    background: #c6c6c6;
}

.clients__controls, .partners__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 928px;
    margin: 64px auto 0;
}

h4.partners__name {
    color: #2799d6;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'Montserrat';
}

.partners__item {
    display: flex;
    max-height: 142px;
}

.partners__item-content {
    font-family: 'Century Gothic';
    font-size: 14px;
    line-height: 1.6;
    max-width: 176px;
    margin-left: 24px;
}

.partners__img-wrap {
    padding-top: 10px;
}

h1.companies-heading {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .150em;
    display: inline-block;
    margin: 0;
    position: absolute;
    transform-origin: center;
    transform: rotate(-90deg);
    top: 0;
    bottom: 96px;
    left: 0;
    margin: auto;
    height: 24px;
}

section.companies {
    position: relative;
    padding: 0 32px;
}

section.companies.clients {
    margin-bottom: 96px;
}

.swiper-container {
    max-width: 1035px;
    margin: 0 auto;
}

.swiper-outer-wrap {
    width: 83%;
    margin-left: 8.5%;
}

img {
    max-height: 100%;
}
