<article class="page page-contacts">

  <div class="row row-contacts">

    <div class="contacts__col-left contacts__col">
      <div class="contact__page-content" [innerHTML]="content | safe: 'html'"></div>

      <div [hidden]="submitted" class="form-wrapper">

        <form class="contacts__form" (ngSubmit)="onSubmit()" #heroForm="ngForm">

          <h2 class="contacts__form-heading">Обратная связь</h2>

          <div class="contacts__input-wrap">
            <input  type="text" class="contacts__input" placeholder="Ваше имя"
            required minlength="2"
            [(ngModel)]="model.name" name="name" #nameVar="ngModel">
            <div *ngIf="nameVar.invalid && (nameVar.dirty || nameVar.touched)" class="contacts__invalid">
              <div *ngIf="nameVar.errors.required">
                Заполните имя.
              </div>
              <div *ngIf="nameVar.errors.minlength">
                Имя должно быть не менее 2х символов.
              </div>
            </div>
          </div>

          <div class="contacts__input-wrap">
            <input  type="email" class="contacts__input" placeholder="Email"
            required
            [(ngModel)]="model.email" name="email" #email="ngModel">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="contacts__invalid">
              <div *ngIf="email.errors.required">
                Заполните email.
              </div>
            </div>
          </div>

          <div class="contacts__input-wrap">
            <input  type="text" class="contacts__input" placeholder="Сообщение"
            required
            [(ngModel)]="model.message" name="message" #message="ngModel">
            <div *ngIf="message.invalid && (message.dirty || message.touched)" class="contacts__invalid">
              <div *ngIf="message.errors.required">
                Заполните сообщение.
              </div>
            </div>
          </div>

          <button type="submit" class="contacts__submit"
          [disabled]="!heroForm.form.valid">отправить</button>

        </form>
      </div>

      <div [hidden]="!submitted">

        <p>Сообщение отправлено</p>
        <p>{{response}}</p>

      </div>

    </div>

    <div class="contacts__col-right contacts__col">
      <!-- google map here -->
      <div #gmap class="gmap-placeholder"></div>
    </div>

  </div>

</article>
