<article class="page page-objects">

  <!-- <a (click)="swupdate()">обновить</a> -->

  <div class="swiper-outer-wrap projects">
    <div #swiperView [swiper]="config" class="swiper objects swiper-container" id="objects_slider" >

      <div class="swiper-wrapper">

        <div class="olist__item swiper-slide"
        *ngFor="let project of projects; let i = index"
        routerLink="/property/{{project.id}}" >
          <span class="oi-num">{{i + 1 | number:'2.0-0'}}</span>
          <div class="oi-content">
            <div class="oi-text">
              <h2 class="oi-heading">{{project.name}}</h2>
              <h3 class="oi-client">{{project.client}}</h3>
            </div>
            <img class="oi-thumb" [src]="project?.thumb" [srcset]="project?.srcset">
          </div>
          <a routerLink="/property/{{project.id}}" class="oi-link">смотреть проект</a>
        </div>

      </div>

   </div>
  </div>

</article>

<div class="olist__controls project">
  <button class="sc ol ol-prev"><svg><use xlink:href="#Arrow-left"/></svg></button>
  <div class="swiper-scrollbar projects"></div>
  <button class="sc ol ol-next"><svg><use xlink:href="#Arrow-right"/></svg></button>
</div>
