header{
  max-width: 1700px;
  position: absolute;
  width: 100%;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
}

.container {
  max-width: 1700px;
  max-height: 937px;
  top: 0;
  margin: auto;
}

app-clients, app-contacts, app-docs, app-home, app-projects, app-property {
max-height: 936px;
position: absolute;
bottom: 0;
}


.swiper-container {
    max-width: none;
}

.hs-image-wrap {
    height: 100%;
    width: auto;
    max-width: 1454px;
    max-width: none;
}

.slider__item.swiper-slide {
    height: 812px;
}

main {
    /* height: 1190px; */
    height: 100vh;
    /* height: auto; */
    display: flex;
    align-items: center;
    position: static;
}

article.page.homepage {
    position: relative;
}

.olist__controls {
    position: static;
    margin-top: 120px;
}

.olist__controls.home {
    margin-top: 94px;
}

.olist__controls.project {
  position: absolute;
  bottom: 0;
}

.swiper-outer-wrap.project {
    height: 496px;
    width: auto;
    max-width: 1630px;
}

.oi-content {
    width: 336px;
    height: 336px;
}

.object__text-inner {
    max-width: 730px;
}

article.page.page-object {
    height: 100vh;
    max-height: 816px;
}

footer.object__footer {
    max-width: 1700px;
}

.docs__img-wrap>img {
    height: 248px;
}

.docs__img-wrap {
    margin-right: 48px;
}

.docs__item-content {
    max-height: 240px;
}

.swiper-container.docs {
    max-height: none;
}

.contacts__col {
    height: 816px;
}

.homepage > .swiper-container {
    max-width: 1630px;
}

.swiper-outer-wrap.projects {
    max-width: 1630px;
    height: 494px;
}

a.oi-link {
    margin-right: 48px;
}


article.page.page-companies {
    max-height: 618px;
    position: relative;
    margin: auto;
}

article.page.page-docs {
    height: 100%;
}
