<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <svg class="sprites">
      <symbol viewBox="0 0 30 9" id="Arrow-left">
        <polygon points="30,3.5 3.6,3.5 5.7,1.3 4.4,0 0,4.4 4.4,8.9 5.7,7.6 3.6,5.4 30,5.4 "/>
      </symbol>
      <symbol viewBox="0 0 30 9" id="Arrow-right">
        <polygon  points="0,5.4 26.3,5.4 24.2,7.6 25.5,8.9 30,4.4 25.5,0 24.2,1.3 26.3,3.5 0,3.5 "/>
      </symbol>
      <symbol id="Arrow-top" viewBox="0 0 9 30">
        <polygon points="5.4,30 5.4,3.6 7.6,5.8 8.9,4.4 4.4,0 0,4.4 1.3,5.8 3.5,3.6 3.5,30 "/>
      </symbol>
      <symbol id="Arrow-down" viewBox="0 0 9 30">
        <polygon points="3.5,0 3.5,26.4 1.3,24.2 0,25.6 4.4,30 8.9,25.6 7.6,24.2 5.4,26.4 5.4,0 "/>
      </symbol>
    </svg>

    <main>
      <header>
        <a routerLink="/" title="на главную" id="logo-link">
          <img src="assets/img/logo.svg" alt="логотип ск зенит">
        </a>

        <nav class="header-nav">
          <a routerLink="/projects/">проекты</a>
          <a routerLink="">о нас</a>
          <a routerLink="/clients">клиенты и партнеры</a>
          <a routerLink="/docs">документы</a>
          <a routerLink="/contacts">контакты</a>
        </nav>

        <a class="header-phone" href="tel:+7 (423) 297-97-75">
          +7 (423) 297-97-75
        </a>

      </header>

      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </main>

  </body>
</html>
