<article class="page page-object">
    <div class="object__text">
      <div class="object__text-inner">

        <div class="object__headings">
          <h2 class="object__heading">{{property?.name}}</h2>
          <h3 class="object__client">Заказчик: {{property?.client}}</h3>
        </div>

        <perfect-scrollbar [config]="swiperCfg" id="psoc">
          <div class="object__content" [innerHTML]="property?.content"></div>
        </perfect-scrollbar>

      </div>
    </div>

    <div class="object__slider-wrap">

      <div #swiperView [swiper]="swiperCfg" class="object__slider" id="object__slider"
      (indexChange)="onIndexChange($event)" [index]="0">
        <div class="swiper-wrapper">
          <li *ngFor="let img of images" class="swiper-slide">
            <img [src]="img"/>
          </li>
        </div>
      </div>

    </div>

    <div class="oject__slider-controls">
      <button class="sc sc-prev"><svg><use xlink:href="#Arrow-top"/></svg></button>
      <span class="sc-num">01</span>
      <span id="sc-sep"></span>
      <span class="sc-num sc-faded">{{index | number:'2.0-0'}}</span>
      <span class="sc-num">{{total | number:'2.0-0'}}</span>
      <button class="sc sc-next"><svg><use xlink:href="#Arrow-down"/></svg></button>
    </div>


</article>

<footer class="object__footer">
  <!-- <a (click)="anew($event)">go to 0</a> -->
  <a routerLink="/projects/" class="object__back">вернуться к списку</a>
  <div class="footer-controls">
    <a class="fc fc-prev" [routerLink]="prev" (click)="resetIndex()"><svg><use xlink:href="#Arrow-left"/></svg>предыдущий проект</a>
    <a class="fc fc-next" [routerLink]="next" (click)="resetIndex()">следующий проект<svg><use xlink:href="#Arrow-right"/></svg></a>
  </div>
</footer>
