@import '~swiper/dist/css/swiper.min.css';

.docs__item {
    height: 185px;
    display: flex;
    margin-bottom: 88px;
}

span.doc-num {
    font-size: 24px;
    font-weight: bold;
    color: #b0b0b0;
    margin-right: 48px;
}

.docs__img-wrap>img {
    max-height: 100%;
    height: 185px;
}

.docs__img-wrap {
    margin-right: 36px;
}

h4.docs__name {
    font-family: 'Century Gothic';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
}

.docs__item-content {
    max-width: 336px;
    max-height: 180px;
    position: relative;
}

a.docs__link {
    position: absolute;
    bottom: 0;
    font-style: italic;
    line-height: 1.7;
}

a.docs__link:before {
    content: url(/assets/img/pdf.svg);
    display: inline-block;
    width: 19px;
    height: 23px;
    margin-right: 10px;
    vertical-align: -6px;
}

.swiper-wrapper {
    width: 100%;
}

.swiper-scrollbar {
    max-width: 643px;
    width: 100%;
    background: #c6c6c6;
    height: 2px;
    border-radius: 2px;
}

.swiper-scrollbar-drag {
    background-color: #2799d6;
}

.docs__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 993px;
    margin: 64px auto 0;
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
}

article.page.page-docs {
    max-height: 618px;
    /* position: relative; */
}

.swiper-container {
  max-height: 455px;
  display: block;
}
