nav.header-nav {
    display: none;
}

div.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 270px;
    height: 100%;
    z-index: 2;
    background: #fff;
    padding: 112px 16px 32px;
    box-sizing: border-box;
    text-align: right;
    /* border-left: 1px solid #f0f0f0; */
    display: block;
}

main.menu-open div.mobile-nav {
    
}

.mobile-nav__pagelinks {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
    max-height: 424px;
    font-size: 14px;
}


a.header-phone.mobile-phone {
    display: block;
}

a.header-phone {
    display: none;
}

button.hamburger {
    display: inline-block;
    opacity: 1;
    position: absolute;
    top: 36px;
    right: 16px;
    padding: 0;
    z-index: 1;
}

.slider__item.swiper-slide {
    flex-flow: column;
    align-items: flex-start;
}

.hs-content {
    position: static;
    margin: 0;
    margin-bottom: auto;
}

img.hs-image {
    order: 2;
}

a.hs-link {
    order: 3;
    align-self: flex-end;
    margin-top: 60px;
}

h3.hs-client {
    margin-bottom: 48px;
}

main {
    height: auto;
    height: 90vh;
}

app-clients, app-contacts, app-docs, app-home, app-projects, app-property {
    height: auto;
    /* height: 52vh; */
    max-height: none;
}


div#objects_slider {
    max-width: 528px;
}

img.oi-thumb {
    position: static;
}

span.oi-num {
    margin-bottom: 50px;
}

.oi-content {
    height: 100%;
    margin: 0 0 60px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.oi-text {
    padding: 0 20px;
    margin-bottom: auto;
}

.swiper-outer-wrap.projects {
    height: auto;
}

.olist__item.swiper-slide {display: flex;flex-flow: column;align-items: flex-start;height: auto;}

.swiper-wrapper {
    align-items: stretch;
}

.container {
    max-height: 768px;
}

a.oi-link {
    margin-left: auto;
}

img.oi-thumb {
    position: static;
}

article.page.page-object {
    /* flex-flow: column; */
    /* display: block; */
    flex-flow: row wrap;
    height: auto;
}

.object__slider-wrap {
    width: 100%;
    flex: 0 0 100%;
    height: 416px;
    height: 29vh;
    padding: 0 110px;
    box-sizing: border-box;
}

.object__text {
    height: 40vh;
    width: 100%;
    flex: 0 0 100%;
    padding: 0 56px 0;
    box-sizing: border-box;
    margin-bottom: 36px;
}

.oject__slider-controls {right: 50px;}

.object__text-inner {
    max-width: none;
}


app-clients {
    height: 100%;
}

.row.row-contacts {
    flex-flow: row wrap;
}

.contacts__col-left {
    flex: 1 1 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    height: auto;
    margin-bottom: 48px;
}

form.contacts__form {
    min-width: 320px;
}

.contacts__col-right {
    flex: 0 0 100%;
    height: 440px;
}

app-projects {
    height: 100%;
    align-items: flex-start;
}

footer.object__footer {
    padding: 0 15px;
    position: static;
    margin-top: 30px;
    display: flex;
    flex-flow: column;
}

div#object__slider {
    width: auto;
}

h1.companies-heading {
    transform: none;
    margin: 0;
    position: static;
    margin-bottom: 72px;
}

.swiper-outer-wrap.clients {
    width: 100%;
}

a.object__back {
    order: 2;
    margin: 32px 0;
}

.footer-controls {
    order: 1;
    width: calc(100% - 95px * 2);
    margin: 0 auto;
}

app-home {
    position: static;
}