@font-face {
    font-family: 'Days Sans';
    src: url('fonts/dayssans-800-normal.woff2') format('woff2'), url('fonts/dayssans-800-normal.woff') format('woff'), url('fonts/dayssans-800-normal.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


body {
    margin: 0;
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    height: 100vh;
    box-sizing: border-box;
    background: url(img/bg.jpg);
    background: image-set(
        url(img/bg.jpg) 1x,
        url(img/bg@2x.jpg) 2x
    );
    background: -webkit-image-set(
        url(img/bg.jpg) 1x,
        url(img/bg@2x.jpg) 2x
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    /* overflow: auto; */
    padding: 0 40px;
    box-sizing: border-box;
}

img#logo {
    float: left;
    margin-bottom: 2em;
}

.header__right {
    float: right;
}

.header__right > a {
    display: block;
    line-height: 1;
    text-decoration: none;
}

article {
    text-align: center;
}

a#header__phone {
    color: #2799d6;
    font-size: 19px;
    letter-spacing: .025em;
    margin-bottom: 10px;
    font-weight: 600;
}

h1 {
    font-family: 'Days Sans', 'Open Sans', sans-serif;
    margin: 0;
    font-size: 30px;
    position: absolute;
    top: 90px;
    right: 0;
    bottom: 75px;
    left: 0;
    margin: auto;
    height: 35px;
    padding: 0 40px;
}

a#header__mail {
    font-size: 18px;
    letter-spacing: .05em;
    text-transform: uppercase;
}

a {
    color: #2799d6;
}

h1 > span {
    color: #2799d6;
}


header > .container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

@media screen and (max-width: 425px) {
  header > .container {
      justify-content: center;
  }

  h1 {
      font-size: 25px;
  }    
}
